body {
    background-image: url(star.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    font-size:40px;
    color: white;
}

form {
    font: 16px;
    width: 400px;
    margin: 0 auto;
    padding: 10px 10px 10px 100px;
    margin-top: 230px;
    border-radius: 10px;
    background-color: rgba(37, 22, 168, 0.342);
}

input {
    width: 250px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
    background: white;
}

.mostrar {
    width: 150px;
    height: 40px;
    border: 1px solid black;
    background: white;
}

a {
    font-size: 30px;
    color: white;
}

.netuno {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
    right: 450px;
  }
  
  .netuno2 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
    left: 300px;
  }