* {
  margin: 1px;
  padding: 1px;
  position: relative;;
}

img {
  padding: 0;
  margin-left: 50px;
  width:400px ;
  height: 300px;
}

body {
  background-image: url(star.jpg);
  background-size: 100%;
  margin: 0;
  padding: 0;
  display: block;
}
#topo {
  height: 100px;
}

#menu ul {
  background-color: rgba(37, 22, 168, 0.342);
 width: 1040px;
 margin-left: 300px;
}

#menu ul li {
  display: inline-table;
  padding: 20px 30px;
  cursor: pointer;
  margin-left: 250px;
}

#menu ul li a{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#conteudo {
  background-color: black;
  height: 700px;
}

h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 30px;
  padding-left: 30px;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color:black;
  text-align: center;
}

  p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    padding-top: 30px;
    padding-left: 30px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
  }
 
div.relative {
  position: relative;
  height: 700px;
} 

div.absolute {
  position: absolute;
  left: 300px;
  width: 500px;
  height: 700px;
  background-color:rgba(37, 22, 168, 0.342);
}

div.absolute1 {
  position: absolute;
  right: 300px;
  width: 500px;
  height: 700px;
  background-color: rgba(37, 22, 168, 0.342);
}

.netuno {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 150px;
}

.netuno2 {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 150px;
}

iframe {
  padding: 0;
  margin-left: 50px;
  width:400px ;
  height: 300px;
}

